*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Sen', sans-serif;
    --ff-secondary: 'Inter', sans-serif;

    --fw-h1: 700;
    --fw-body: 400;

    --fs-h1: 2.5em;
    --fs-body: 1em;

    --clr-light: #A2B7C5;
    --clr-dark: #013142;
    --clr-accent: #2EF0C5;
}

@media (min-width: 540px) {
    :root {
        --fs-h1: 4.5em;
        --fs-body: 1.2em;
    }
}

@media (min-width: 1024px) {
    :root {
        --fs-h1: 7.5em;
    }
}


html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.container {
    margin: 6.5em auto 0;
    padding: .5em;
    position: relative;
    z-index: 100;
    max-height: 100vh;
}

h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
    color: var(--clr-accent);
}

p { 
    font-family: var(--ff-secondary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}

button {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    background-color: #2EF0C5;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 1em;
}

/* Hero */
.hero_subtitle {
    line-height: 1.5em;
}

.hero_subtitle span {
    display: block;
}

.avatar_one,
.avatar_four,
.avatar_five { display: none }

.avatar_two {
    position: absolute;
    right: 0;
    top: 3.5em;
    scale: .85;
}

.avatar_three {
    position: absolute;
    left: 1em;
    top: 4.5em;
    scale: .8;
}

.avatar_six {
    position: absolute;
    right: 1em;
    bottom: 4em;
    scale: 1.2;
}

.twitter {
    position: absolute;
    margin-top: 12em;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    display: flex;
    align-items: center;
    z-index: 100;
}

.twitter_icon {
    padding-right: .8em;
}

@media (min-width: 540px) {
    .container {
        padding: 2em;
    }

    .hero_title { margin-bottom: .4em }

    .hero_subtitle { margin-bottom: 1.5em }

    .avatar_one,
    .avatar_four,
    .avatar_five { display: block }

    .avatar_one {
        position: absolute;
        scale: .8;
        top: 13em;
        right: 1em;
    }

    .avatar_two {
        top: .5em;
        right: 1em;
    }

    .avatar_three { top: 3em }

    .avatar_four {
        position: absolute;
        scale: .7;
        right: 2em;
        bottom: -7em;
    }

    .avatar_five {
        position: absolute;
        scale: .8;
        top: 10em;
        right: 9.5em;
    }

    .avatar_six {
        scale: .8;
        bottom: 11.5em;
        right: 4.5em;
    }


    .twitter {
        margin-top: 6em;
        font-family: var(--ff-secondary);
        font-weight: var(--fw-body);
        font-size: var(--fs-body);
        display: flex;
        align-items: center;
        z-index: 100;
    }

    .twitter_icon {
        padding-right: .8em;
    }
}

@media (min-width: 1024px) {
    .logo {
        padding: 1em 6em;
    }

    .container {
        padding: .5em 6em;
        margin: 0 auto;
    }

    .hero_title {
        margin: 0 auto;
    }

    .twitter { margin-top: 2em }

    .avatar_one { top: 18em }

    .avatar_two { 
        right: 5em;
        scale: .8;
    }

    .avatar_four { 
        bottom: .2em;
        scale: .8;
    }

    .avatar_five {
        top: 3em;
        right: 16em;
    }

    .avatar_six {
        bottom: 14.5em;
        right: 20em;
    }
}