*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Sen', sans-serif;
    --ff-secondary: 'Inter', sans-serif;

    --fw-h1: 700;
    --fw-body: 400;

    --fs-h1: 2.5em;
    --fs-body: 1em;

    --clr-light: #A2B7C5;
    --clr-dark: #013142;
    --clr-accent: #2EF0C5;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.container {
    margin: 6.5em auto;
    padding: .5em;
    position: relative;
    z-index: 100;
}

h1 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-h1);
    font-size: var(--fs-h1);
    color: var(--clr-accent);
}

p { 
    font-family: var(--ff-secondary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
}

button {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    background-color: #2EF0C5;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 1em;
}

/* Hero */
.hero_subtitle {
    line-height: 1.5em;
}

.avatar_one,
.avatar_four,
.avatar_five { display: none }

.avatar_two {
    position: absolute;
    right: 0;
    top: 3.5em;
    scale: .85;
}

.avatar_three {
    position: absolute;
    left: 1em;
    top: 4.5em;
    scale: .8;
}

.avatar_six {
    position: absolute;
    right: 1em;
    bottom: 4.5em;
    scale: 1.2;
}

@media (min-width: 700px) {
    .avatar_one,
    .avatar_four,
    .avatar_five { display: block }

    
}

footer {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: .5em;
    left: .5em;
}

.twitter_icon {
    padding-right: .8em;
}